[package]
name = "otc-server"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true


[[bin]]
name = "otc-server"
path = "src/main.rs"

[dependencies]
common = { workspace = true }
otc-models = { workspace = true, features = ["sqlx"] }
otc-chains = { workspace = true }
otc-mm-protocol = { workspace = true }
otc-auth = { path = "../../crates/otc-auth" }

tokio = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio-tungstenite = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
snafu = { workspace = true }
axum = { workspace = true }
tower-http = { workspace = true }
clap = { workspace = true }
futures-util = { workspace = true }
sqlx = { workspace = true }
uuid = { workspace = true }
chrono = { workspace = true }
dashmap = { workspace = true }
alloy = { workspace = true }
config = { workspace = true }
zeroize = { workspace = true }
secrecy = { workspace = true }
getrandom = { workspace = true }
toml = { workspace = true }
bitcoin = { workspace = true }
bitcoincore-rpc-async = {workspace=true}

[dev-dependencies]
sqlx = { workspace = true }
getrandom = { workspace = true }
bitcoin = { workspace = true }